# Web scraping - Assignment 4

Internship ID - DS2402

Submitted by - Geetanjali Joshi

## Q1 : Scrape the details of most viewed videos on YouTube from Wikipedia. Url
## = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
## Rank
## B) Name
## C) Artist
## D) Upload date
## E) Views

In [7]:
!pip install bs4
!pip install requests

# importing libraries 
import pandas as pd
import requests
from bs4 import BeautifulSoup

Requirement already satisfied: bs4 in ./anaconda3/lib/python3.10/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in ./anaconda3/lib/python3.10/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in ./anaconda3/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: requests in ./anaconda3/lib/python3.10/site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in ./anaconda3/lib/python3.10/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.10/site-packages (from requests) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/lib/python3.10/site-packages (from requests) (1.26.14)

In [10]:
# get the webpage 
page = requests.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [12]:
page # 200 means we can scrape the data from the website

In [ ]:
soup = BeautifulSoup(page.content)

In [ ]:
soup = BeautifulSoup(page.content, 'html.parser')

In [24]:
table = soup.find('table',{'class': "type 1 table"})

In [25]:
table

In [26]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [27]:
tables = pd.read_html(url)

In [28]:
len(tables) # number of tables on the webpage

6

In [36]:
tables[0] # target table

,Video name,Uploader,Views (billions),Date,Unnamed: 4
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.32,"June 17, 2016",[A]
1,"""Despacito""[10]",Luis Fonsi,8.41,"January 12, 2017",[B]
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.89,"October 8, 2016",NaN
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.66,"May 2, 2018",NaN
4,"""Shape of You""[20]",Ed Sheeran,6.23,"January 30, 2017",[C]
5,"""See You Again""[23]",Wiz Khalifa,6.22,"April 6, 2015",[D]
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,6.01,"May 24, 2018",NaN
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.75,"March 6, 2014",NaN
8,"""Uptown Funk""[30]",Mark Ronson,5.18,"November 19, 2014",NaN
9,"""Gangnam Style""[31]",Psy,5.10,"July 15, 2012",[E]
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.09,"February 27, 2018",NaN
11,"""Dame Tu Cosita""[37]",Ultra Records,4.59,"April 5, 2018",NaN
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,4.57,"January 31, 2012",NaN
13,"""Axel F""[39]",Crazy Frog,4.45,"June 16, 2009",NaN
14,"""Sugar""[40]",Maroon 5,4.02,"January 14, 2015",NaN
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,4.01,"June 25, 2018",NaN
16,"""Counting Stars""[42]",OneRepublic,4.00,"May 31, 2013",NaN
17,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.98,"June 14, 2018",NaN
18,"""Roar""[44]",Katy Perry,3.98,"September 5, 2013",NaN
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.89,"June 4, 2010",NaN
20,"""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015",NaN
21,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,3.77,"May 10, 2011",NaN
22,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.76,"January 26, 2018",NaN
23,"""Thinking Out Loud""[49]",Ed Sheeran,3.75,"October 7, 2014",NaN
24,"""Perfect""[50]",Ed Sheeran,3.70,"November 9, 2017",NaN
25,"""Dark Horse""[51]",Katy Perry,3.70,"February 20, 2014",NaN
26,"""Let Her Go""[52]",Passenger,3.64,"July 25, 2012",NaN
27,"""Faded""[53]",Alan Walker,3.60,"December 3, 2015",NaN
28,"""Girls Like You""[54]",Maroon 5,3.58,"May 31, 2018",NaN
29,"""Lean On""[55]",Major Lazer Official,3.57,"March 22, 2015",NaN
30,"As of April 3, 2024","As of April 3, 2024","As of April 3, 2024","As of April 3, 2024","As of April 3, 2024"

In [37]:
df = tables[0] # coverting table into a dataframe

In [40]:
df.head() # first 5 rows of the table

,Video name,Uploader,Views (billions),Date,Unnamed: 4
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.32,"June 17, 2016",[A]
1,"""Despacito""[10]",Luis Fonsi,8.41,"January 12, 2017",[B]
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.89,"October 8, 2016",NaN
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.66,"May 2, 2018",NaN
4,"""Shape of You""[20]",Ed Sheeran,6.23,"January 30, 2017",[C]

In [44]:
# renaming the columns 
df.rename(columns = {'Video name':'Name','Uploader': 'Artist','Views (billions)':'Views','Date':'Upload Date'}, inplace = True)

In [51]:
# droping unnamed columns 
df = df.drop(df.columns[df.columns.str.contains('Unnamed', case=False)], axis=1)

In [52]:
df.head()

,Name,Artist,Views,Upload Date
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.32,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.41,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.89,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.66,"May 2, 2018"
4,"""Shape of You""[20]",Ed Sheeran,6.23,"January 30, 2017"

In [54]:
df.columns

Index(['Name', 'Artist', 'Views', 'Upload Date'], dtype='object')

In [63]:
df.insert(0, 'Ranking', range(1, len(df) + 1))

In [65]:
# final dataframe with the required data
print('Most viewed videos from Youtube on wikipedia')
df

Most viewed videos from Youtube on wikipedia

,Ranking,Name,Artist,Views,Upload Date
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.32,"June 17, 2016"
1,2,"""Despacito""[10]",Luis Fonsi,8.41,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.89,"October 8, 2016"
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.66,"May 2, 2018"
4,5,"""Shape of You""[20]",Ed Sheeran,6.23,"January 30, 2017"
5,6,"""See You Again""[23]",Wiz Khalifa,6.22,"April 6, 2015"
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,6.01,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.75,"March 6, 2014"
8,9,"""Uptown Funk""[30]",Mark Ronson,5.18,"November 19, 2014"
9,10,"""Gangnam Style""[31]",Psy,5.10,"July 15, 2012"
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.09,"February 27, 2018"
11,12,"""Dame Tu Cosita""[37]",Ultra Records,4.59,"April 5, 2018"
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,4.57,"January 31, 2012"
13,14,"""Axel F""[39]",Crazy Frog,4.45,"June 16, 2009"
14,15,"""Sugar""[40]",Maroon 5,4.02,"January 14, 2015"
15,16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,4.01,"June 25, 2018"
16,17,"""Counting Stars""[42]",OneRepublic,4.00,"May 31, 2013"
17,18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.98,"June 14, 2018"
18,19,"""Roar""[44]",Katy Perry,3.98,"September 5, 2013"
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.89,"June 4, 2010"
20,21,"""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015"
21,22,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,3.77,"May 10, 2011"
22,23,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.76,"January 26, 2018"
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,3.75,"October 7, 2014"
24,25,"""Perfect""[50]",Ed Sheeran,3.70,"November 9, 2017"
25,26,"""Dark Horse""[51]",Katy Perry,3.70,"February 20, 2014"
26,27,"""Let Her Go""[52]",Passenger,3.64,"July 25, 2012"
27,28,"""Faded""[53]",Alan Walker,3.60,"December 3, 2015"
28,29,"""Girls Like You""[54]",Maroon 5,3.58,"May 31, 2018"
29,30,"""Lean On""[55]",Major Lazer Official,3.57,"March 22, 2015"

# 2. Scrape the details team India’s international fixtures from #bcci.tv.
# Url = https://www.bcci.tv/.
# You need to find following details:
# A) Series
# B) Place
# C) Date
# D) Time
# Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [71]:
# get the webpage 
bcci = requests.get('https://www.bcci.tv/')

In [72]:
bcci

In [282]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import TimeoutException, NoSuchElementException

Requirement already satisfied: selenium in ./anaconda3/lib/python3.10/site-packages (4.19.0)
Requirement already satisfied: typing_extensions>=4.9.0 in ./anaconda3/lib/python3.10/site-packages (from selenium) (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in ./anaconda3/lib/python3.10/site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in ./anaconda3/lib/python3.10/site-packages (from selenium) (0.25.0)
Requirement already satisfied: certifi>=2021.10.8 in ./anaconda3/lib/python3.10/site-packages (from selenium) (2023.5.7)
Requirement already satisfied: idna in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: exceptiongroup in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=23.2.0 in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: outcome in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in ./anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [116]:
driver = webdriver.Chrome()
driver.get("https://www.bcci.tv/")

In [119]:
# press international tab toggle 
international_tab = driver.find_element(By.CLASS_NAME,"toggle")
international_tab.click()

In [120]:
# click on fixtures 
fixtures_tab = driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
fixtures_tab.click()

In [121]:
match_series = []

series_tag = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in series_tag:
    ser=i.text
    match_series.append(ser)

In [122]:
match_series

['INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024',
 'INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [127]:
place = []

place_tag = driver.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]')
for i in place_tag:
    pl=i.text
    place.append(pl)

In [128]:
place

['Sylhet International Cricket Stadium, Sylhet',
 'Nassau County International Cricket Stadium, New York',
 'Nassau County International Cricket Stadium, New York',
 'Nassau County International Cricket Stadium, New York',
 'Central Broward Park & Broward County Stadium, Lauderhill, Florida',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare']

In [129]:
date = []

date_tag = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in date_tag:
    dt=i.text
    date.append(dt)

In [130]:
date

['6 MAY, 2024',
 '9 MAY, 2024',
 '5 JUNE, 2024',
 '9 JUNE, 2024',
 '12 JUNE, 2024',
 '15 JUNE, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024']

In [131]:
time = []

time_tag = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in time_tag:
    tim=i.text
    time.append(tim)

In [132]:
time

['3:30 PM IST',
 '3:30 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [134]:
print(len(match_series),len(place),len(date),len(time))

9 8 9 9

In [140]:
# turn into dataframe
international_fixtures=pd.DataFrame([])
international_fixtures['Series']=series[:8]
international_fixtures['Place']=place[:8]
international_fixtures['Date']=date[:8]
international_fixtures['Time']=time[:8]

In [141]:
# List of details of India's international fixtures from bcci.tv
international_fixtures

,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","6 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Nassau County International Cricket Stadium, N...","9 MAY, 2024",3:30 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","12 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Harare Sports Club, Harare","15 JUNE, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST

# Q3. Scrape the details of State-wise GDP of India from statisticstime.com.
# Url = http://statisticstimes.com/
# You have to find following details: A) Rank
# B) State
# C) GSDP(21-22)- at current prices
# D) GSDP(22-23)- at current prices
# E) Share(21-22)
# F) GDP($ billion)
# Note: - From statisticstimes home page you have to reach to economy page through code.

In [142]:
driver = webdriver.Chrome()
driver.get("https://statisticstimes.com/")

In [150]:
# press economy tab 


economy_tab = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy_tab.click()

In [151]:
ind = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')       # Locating page foe top videos by xpath
ind.click()

In [153]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')       # Locating page foe top videos by xpath
gdp.click()

In [158]:
#scraping the Rank
rank = []
rank_tag = driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tag:
    if i.text is None:
        rank.append("..")
    else:
        rank.append(i.text)

In [160]:
#scraping the Rank
state = []
state_tag = driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_tag:
    if i.text is None:
        state.append("..")
    else:
        state.append(i.text)

In [171]:
# share of states
share = []

shr =driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[6]")
for i in shr:
    if i.text is None :
        share.append("..") 
    else:
        share.append(i.text)

In [172]:
# GSDP(22-23)- at current prices¶
gsdp_2223 = []

gsdp_2 =driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[4]")
for i in gsdp_2:
    if i.text is None :
        gsdp_2223.append("..") 
    else:
        gsdp_2223.append(i.text)

In [174]:
# GSDP(21-22)- at current prices¶
gsdp_2122 = []

gsdp_1 =driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[5]")
for i in gsdp_1:
    if i.text is None :
        gsdp_2122.append("..") 
    else:
        gsdp_2122.append(i.text)

In [176]:
# gdp in billion of states
gdp = []

gdp_tag =driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[7]")
for i in gdp_tag:
    if i.text is None :
        gdp.append("..") 
    else:
        gdp.append(i.text)

In [178]:
print(len(rank),len(state),len(gdp),len(gsdp_2122),len(gsdp_2223))

68 68 33 33 33

In [179]:
# turn into dataframe
state_details =pd.DataFrame([])
state_details['Rank']=rank[:33]
state_details['State']=state[:33]
state_details['GDP']=gdp[:33]
state_details['GSDP(21-22) : current price']=gsdp_2122[:33]
state_details['GSDP(22-23) : current price']=gsdp_2223[:33]

In [180]:
state_details

,Rank,State,GDP,GSDP(21-22) : current price,GSDP(22-23) : current price
0,1,Maharashtra,414.928,"3,108,022",-
1,2,Tamil Nadu,276.522,"2,071,286","2,364,514"
2,3,Karnataka,264.080,"1,978,094","2,269,995"
3,4,Uttar Pradesh,263.747,"1,975,595","2,258,040"
4,5,Gujarat,257.484,"1,928,683","2,230,609"
5,6,West Bengal,177.456,"1,329,238","1,531,758"
6,7,Rajasthan,159.334,"1,193,489","1,365,849"
7,8,Andhra Pradesh,153.324,"1,148,471","1,303,524"
8,9,Telangana,150.084,"1,124,204","1,308,034"
9,10,Madhya Pradesh,145.913,"1,092,964","1,246,471"
10,11,Kerala,124.764,"934,542","1,046,188"
11,12,Delhi,117.660,"881,336","1,014,688"
12,13,Haryana,116.001,"868,905","984,055"
13,14,Odisha,88.497,"662,886","753,177"
14,15,Bihar,86.817,"650,302","751,396"
15,16,Punjab,82.397,"617,192","676,164"
16,17,Assam,54.930,"411,454","493,167"
17,18,Chhattisgarh,54.806,"410,525","464,399"
18,19,Jharkhand,47.909,"358,863","393,722"
19,20,Uttarakhand,35.664,"267,143","303,781"
20,21,Jammu & Kashmir,25.813,"193,352","224,226"
21,22,Himachal Pradesh,22.984,"172,162","191,728"
22,23,Goa,11.250,"84,266","93,672"
23,24,Tripura,8.351,"62,550","72,636"
24,25,Chandigarh,6.154,"46,096","54,285"
25,26,Puducherry,5.849,"43,810","49,643"
26,27,Meghalaya,5.178,"38,785","42,697"
27,28,Sikkim,5.014,"37,557","42,756"
28,29,Manipur,4.885,"36,594",-
29,30,Arunachal Pradesh,4.643,"34,775","39,630"
30,31,Nagaland,4.144,"31,038","35,643"
31,32,Mizoram,3.715,"27,824",-
32,33,Andaman & Nicobar Islands,1.385,"10,371",-

# 4. Scrape the details of trending repositories on Github.com.
# Url = https://github.com/
# You have to find the following details:
# A) Repository title
# B) Repository description
# C) Contributors count
# D) Language used
# Note: - From the home page you have to click on the trending option from Explore menu through code.

In [191]:
driver = webdriver.Chrome()
driver.get("https://github.com/")

In [193]:
# press open source 
open_source = driver.find_element(By.XPATH,'//li[@class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item"][3]')
open_source.click()

In [194]:
# press open source 
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [195]:
#scraping repository title
repository_title = []
repository_tag = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in repository_tag:
    if i.text is None:
        repository_title .append("..")
    else:
        repository_title .append(i.text)

['wandb / openui',
 'massgravel / Microsoft-Activation-Scripts',
 'HVision-NKU / StoryDiffusion',
 'reorproject / reor',
 'rasbt / LLMs-from-scratch',
 'dev-xo / remix-saas',
 'codecrafters-io / build-your-own-x',
 'abi / secret-llama',
 'Stirling-Tools / Stirling-PDF',
 'xM4ddy / OFGB',
 'fastfetch-cli / fastfetch',
 'KindXiaoming / pykan',
 'karpathy / llm.c',
 'bepass-org / oblivion-desktop',
 'Ryujinx / Ryujinx',
 'systemdesign42 / system-design',
 'lencx / ChatGPT',
 'lmstudio-ai / lms',
 'dockur / windows',
 'novuhq / novu',
 'solana-labs / solana',
 'VinciGit00 / Scrapegraph-ai',
 'plandex-ai / plandex',
 'pagefaultgames / pokerogue',
 'suyu-emu / suyu']

In [197]:
#scraping repository description
repository_desc = []
desc_tag = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc_tag:
    if i.text is None:
        repository_desc.append("..")
    else:
        repository_desc.append(i.text)

In [199]:
#scraping contributors count
contributors = []
contibutors_tag = driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
for i in contibutors_tag:
    if i.text is None:
        contributors.append("..")
    else:
        contributors.append(i.text)

In [200]:
contributors

['Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by']

In [201]:
#scraping language used
language = []
language_tag = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in language_tag:
    if i.text is None:
        language.append("..")
    else:
        language.append(i.text)

In [204]:
print(len(repository_title),len(repository_desc),len(contributors),len(language))

25 24 25 23

In [207]:
# turn into dataframe
github =pd.DataFrame([])
github['Repository Title']=repository_title[:23]
github['Repository Description']=repository_desc[:23]
github['Contributors']=contributors[:23]
github['Language']=language[:23]

In [208]:
github

,Repository Title,Repository Description,Contributors,Language
0,wandb / openui,OpenUI let's you describe UI using your imagin...,Built by,TypeScript
1,massgravel / Microsoft-Activation-Scripts,A Windows and Office activator using HWID / Oh...,Built by,Batchfile
2,HVision-NKU / StoryDiffusion,Create Magic Story!,Built by,Jupyter Notebook
3,reorproject / reor,Private & offline AI personal knowledge manage...,Built by,TypeScript
4,rasbt / LLMs-from-scratch,"Implementing a ChatGPT-like LLM from scratch, ...",Built by,Jupyter Notebook
5,dev-xo / remix-saas,"A Lightweight, Production-Ready Remix Stack fo...",Built by,TypeScript
6,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,Built by,TypeScript
7,abi / secret-llama,Fully private LLM chatbot that runs entirely w...,Built by,Java
8,Stirling-Tools / Stirling-PDF,#1 Locally hosted web application that allows ...,Built by,C#
9,xM4ddy / OFGB,GUI Tool To Removes Ads From Various Places Ar...,Built by,C
10,fastfetch-cli / fastfetch,"Like neofetch, but much faster because written...",Built by,Jupyter Notebook
11,KindXiaoming / pykan,Kolmogorov Arnold Networks,Built by,Cuda
12,karpathy / llm.c,"LLM training in simple, raw C/CUDA",Built by,TypeScript
13,bepass-org / oblivion-desktop,unofficial desktop version of oblivion,Built by,C#
14,Ryujinx / Ryujinx,Experimental Nintendo Switch Emulator written ...,Built by,Rust
15,systemdesign42 / system-design,A resource to help you learn system design.,Built by,TypeScript
16,lencx / ChatGPT,"🔮 ChatGPT Desktop Application (Mac, Windows an...",Built by,Shell
17,lmstudio-ai / lms,LM Studio in your terminal,Built by,TypeScript
18,dockur / windows,Windows in a Docker container.,Built by,Rust
19,novuhq / novu,🔥 The open-source notification infrastructure ...,Built by,Python
20,solana-labs / solana,"Web-Scale Blockchain for fast, secure, scalabl...",Built by,Go
21,VinciGit00 / Scrapegraph-ai,Python scraper based on AI,Built by,TypeScript
22,plandex-ai / plandex,"An AI coding engine for building complex, real...",Built by,C++

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
# A) Song name
# B) Artist name
# C) Last week rank
# D) Peak rank
# E) Weeks on board
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [400]:
driver = webdriver.Chrome()
driver.get("https://www.billboard.com/")

In [401]:
billboard100 = driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')       # Locating page foe top videos by xpath
billboard100.click()

In [250]:
song_name =[]
artist=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [402]:
#scraping the song name
song_names=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
for i in song_names:
    if i.text is None :
        song_name.append("--") 
    else:
        song_name.append(i.text)

In [406]:
#scraping the artist
artist_names=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist_names:
    if i.text is None :
        artist.append("--") 
    else:
        artist.append(i.text)

In [411]:
#scraping the last week's rank
lrank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][1]')
for i in lrank:
    if i.text is None :
        last_week_rank.append("--") 
    else:
        last_week_rank.append(i.text)

In [408]:
#scraping the peak rank
prank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"][2]')
for i in prank:
    if i.text is None :
        peak_rank.append("--") 
    else:
        peak_rank.append(i.text)

In [410]:
#scraping the weeks on board
wboard=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][2]')
for i in wboard:
    if i.text is None :
        weeks_on_board.append("--") 
    else:
        weeks_on_board.append(i.text)

In [412]:
print(len(song_name),len(artist),len(last_week_rank),len(peak_rank),len(weeks_on_board))

104 99 100 100 100

In [413]:
# turn into dataframe
billboard =pd.DataFrame([])
billboard['Song Name']=song_name[:99]
billboard['Artist']=artist[:99]
billboard['Last Weeks rank']=last_week_rank[:99]
billboard['Peak Rank']=peak_rank[:99]
billboard['Weeks on board']=weeks_on_board[:99]

In [414]:
billboard

,Song Name,Artist,Last Weeks rank,Peak Rank,Weeks on board
0,Fortnight,Taylor Swift,-,1,1
1,Fortnight,Taylor Swift,-,2,1
2,Fortnight,Taylor Swift,-,3,1
3,Down Bad,Taylor Swift,-,4,1
4,Fortnight,Taylor Swift,-,5,1
...,...,...,...,...,...
94,23,$uicideBoy$,94,94,2
95,Tucson Too Late,Tucker Wetmore,-,96,1
96,Halfway To Hell,Morgan Wallen,84,77,5
97,Praise Jah In The Moonlight,310babii,89,24,13
98,Feel It,Justin Timberlake,82,53,19

# 6. Scrape the details of Highest selling novels.
# A) Book name
# B) Author name
# C) Volumes sold
# D) Publisher
# E) Genre
# Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [380]:
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [381]:
#scraping the book name
book_name = []
bk=driver.find_elements(By.XPATH,'//td[@class="left"][2]')
for i in bk:
    if i.text is None:
        book_name.append("..") 
    else:
        book_name.append(i.text)

In [383]:
#scraping the author name
author_name = []
am=driver.find_elements(By.XPATH,'//td[@class="left"][3]')
for i in am:
    if i.text is None:
        author_name.append("..") 
    else:
        author_name.append(i.text)

In [385]:
#scraping the volume sold
volume_sold = []
vs=driver.find_elements(By.XPATH,'//td[@class="left"][4]')
for i in vs:
    if i.text is None:
        volume_sold.append("..") 
    else:
        volume_sold.append(i.text)

In [387]:
#scraping the publisher
publisher = []
pb=driver.find_elements(By.XPATH,'//td[@class="left"][5]')
for i in pb:
    if i.text is None:
        publisher.append("..") 
    else:
        publisher.append(i.text)

In [391]:
#scraping the publisher
Genre= []
gn=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in gn:
    if i.text is None:
        Genre.append("..") 
    else:
        Genre.append(i.text)

In [393]:
print(len(book_name),len(author_name),len(volume_sold),len(publisher),len(Genre))

100 100 100 100 100

In [395]:
# turn into dataframe
Novels =pd.DataFrame([])
Novels['Novel']=book_name
Novels['Author']=author_name
Novels['Volume Sold']=volume_sold
Novels['Publisher']=publisher
Novels['Genre']=Genre

In [396]:
Novels

,Novel,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
# Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
# A) Name
# B) Year span
# C) Genre
# D) Run time
# E) Ratings
# F) Votes

In [365]:
driver = webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls512407256/")

In [366]:
#scraping the name
name = []
tvnames=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in tvnames:
    if i.text is None:
        name.append("..") 
    else:
        name.append(i.text)

In [367]:
#scraping genre
genre= []
g=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in g:
    if i.text is None:
        genre.append("..") 
    else:
        genre.append(i.text)

In [368]:
#scraping year span
year_span= []
yr=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in yr:
    if i.text is None:
        year_span.append("..") 
    else:
        year_span.append(i.text)

In [369]:
#scraping runtime
runtime= []
run=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run:
    if i.text is None:
        runtime.append("..") 
    else:
        runtime.append(i.text)

In [375]:
#scraping year ratings
ratings= []
rt=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rt:
    if i.text is None:
        ratings.append("..") 
    else:
        ratings.append(i.text)

In [371]:
#scraping views
votes= []
vote=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]')
for i in vote:
    if i.text is None:
        votes.append("..") 
    else:
        votes.append(i.text)

In [376]:
print(len(name),len(genre),len(year_span),len(runtime),len(ratings),len(votes))

100 100 100 100 100 100

In [378]:
# turn into dataframe
imdb =pd.DataFrame([])
imdb['Name']=name
imdb['Genre']=genre
imdb['Year Span']=year_span
imdb['Runtime']=runtime
imdb['Ratings']=ratings
imdb['Votes']=votes

In [379]:
imdb

,Name,Genre,Year Span,Runtime,Ratings,Votes
0,Game of Thrones,"Action, Adventure, Drama",(2011–2019),60 min,9.2,"Votes: 2,287,506"
1,Stranger Things,"Drama, Fantasy, Horror",(2016–2025),60 min,8.7,"Votes: 1,338,376"
2,The Walking Dead,"Drama, Horror, Thriller",(2010–2022),45 min,8.1,"Votes: 1,083,328"
3,13 Reasons Why,"Drama, Mystery, Thriller",(2017–2020),60 min,7.5,"Votes: 315,777"
4,The 100,"Drama, Mystery, Sci-Fi",(2014–2020),43 min,7.6,"Votes: 276,531"
...,...,...,...,...,...,...
95,True Detective,"Crime, Drama, Mystery",(2014– ),60 min,8.9,"Votes: 657,307"
96,Teen Wolf,"Action, Drama, Fantasy",(2011–2017),41 min,7.7,"Votes: 163,393"
97,The OA,"Drama, Fantasy, Mystery",(2016–2019),60 min,7.8,"Votes: 115,982"
98,The Simpsons,"Animation, Comedy",(1989– ),22 min,8.7,"Votes: 436,316"
99,Desperate Housewives,"Comedy, Drama, Mystery",(2004–2012),45 min,7.6,"Votes: 139,890"

# 8. Details of Datasets from UCI machine learning repositories.
# Url = https://archive.ics.uci.edu/ You have to find the following details:
# A) Dataset name
# B) Data type
# C) Task
# D) Attribute type
# E) No of instances
# F) No of attribute G) Year
# Note: - from the home page you have to go to the Show All Dataset page through code.

In [295]:
driver = webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [296]:
# view all datasets 
alldatasets = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
alldatasets.click()

In [324]:
#scraping the dataset name
dataset = []
dnames=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in dnames:
    if i.text is None:
        dataset.append("..") 
    else:
        dataset.append(i.text)

In [331]:
#scraping the datatype
data_type = []
dtype=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]')
for i in dtype:
    if i.text is None:
        data_type.append("..") 
    else:
        data_type.append(i.text)

In [332]:
data_type

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Time-Series']

In [322]:
#scraping the tasks
task = []
t=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]')
for i in t:
    if i.text is None:
        task.append("..") 
    else:
        task.append(i.text)

In [321]:
#scraping the tasks
instances = []
inst=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]')
for i in inst:
    if i.text is None:
        instances.append("..") 
    else:
        instances.append(i.text)

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification']

In [320]:
#scraping the features/attributes
feature_count = []
feat=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]')
for i in feat:
    if i.text is None:
        feature_count.append("..") 
    else:
        feature_count.append(i.text)

In [318]:
#scraping the features/attributes
feature_type = []
ftype=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for i in ftype:
    if i.text is None:
        feature_type.append("..") 
    else:
        feature_type.append(i.text)

In [319]:
feature_type

['Real',
 'Categorical, Integer, Real',
 'Integer, Real',
 'Real',
 'Categorical, Integer',
 'Real',
 'Real, Integer',
 'Integer, Real',
 'Real',
 'Categorical, Integer']

In [325]:
#scraping the date
dates = []
d=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
for i in d:
    if i.text is None:
        dates.append("--") 
    else:
        dates.append(i.text)

In [340]:
years = [dates.split('/')[2] for data in dates]

AttributeError: 'list' object has no attribute 'split'

In [333]:
print(len(dataset),len(data_type),len(task),len(instances),len(feature_count),len(feature_type),len(dates))

10 10 10 10 10 10 10

In [336]:
# turn into dataframe
ucidata =pd.DataFrame([])
ucidata['Dataset title']=dataset
ucidata['Data Type']=data_type
ucidata['Task']=task
ucidata['No. of instances']=instances
ucidata['Attribute numbers']=feature_count
ucidata['Attribute types']=feature_type
ucidata['Date']=dates

In [337]:
ucidata

,Dataset title,Data Type,Task,No. of instances,Attribute numbers,Attribute types,Date
0,Iris,Tabular,Classification,150 Instances,4 Features,Real,7/1/1988
1,Heart Disease,Multivariate,Classification,303 Instances,13 Features,"Categorical, Integer, Real",7/1/1988
2,Dry Bean,Multivariate,Classification,13.61K Instances,16 Features,"Integer, Real",9/14/2020
3,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,7 Features,Real,10/6/2019
4,Adult,Multivariate,Classification,48.84K Instances,14 Features,"Categorical, Integer",5/1/1996
5,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features,Real,11/1/1995
6,Raisin,Multivariate,Classification,900 Instances,8 Features,"Real, Integer",8/14/2023
7,Wine,Tabular,Classification,178 Instances,13 Features,"Integer, Real",7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Features,Real,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,1 Instances,20 Features,"Categorical, Integer",N/A